language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

sudo: false

install:
  - travis_retry composer install --no-interaction --prefer-source

script: make test

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
