parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 3
			path: src/EachPromise.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Property GuzzleHttp\\\\Promise\\\\EachPromise\\:\\:\\$concurrency \\(\\(callable\\(\\)\\: mixed\\)\\|int\\) does not accept null\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Property GuzzleHttp\\\\Promise\\\\EachPromise\\:\\:\\$iterable \\(Iterator\\) does not accept null\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Property GuzzleHttp\\\\Promise\\\\EachPromise\\:\\:\\$onFulfilled \\(callable\\(\\)\\: mixed\\) does not accept null\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Property GuzzleHttp\\\\Promise\\\\EachPromise\\:\\:\\$onRejected \\(callable\\(\\)\\: mixed\\) does not accept null\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Dead catch \\- Exception is already caught by Throwable above\\.$#"
			count: 1
			path: src/EachPromise.php

		-
			message: "#^Dead catch \\- Exception is already caught by Throwable above\\.$#"
			count: 1
			path: src/FulfilledPromise.php

		-
			message: "#^Dead catch \\- Exception is already caught by Throwable above\\.$#"
			count: 2
			path: src/Promise.php

		-
			message: "#^Method GuzzleHttp\\\\Promise\\\\Promise\\:\\:callHandler\\(\\) should return array but empty return statement found\\.$#"
			count: 1
			path: src/Promise.php

		-
			message: "#^Method GuzzleHttp\\\\Promise\\\\Promise\\:\\:callHandler\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: src/Promise.php

		-
			message: "#^Dead catch \\- Exception is already caught by Throwable above\\.$#"
			count: 1
			path: src/RejectedPromise.php

		-
			message: "#^Parameter \\#1 \\$function of function register_shutdown_function expects callable\\(\\)\\: void, Closure\\(\\)\\: mixed given\\.$#"
			count: 1
			path: src/TaskQueue.php

		-
			message: "#^Variable \\$task in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/TaskQueue.php

		-
			message: "#^Dead catch \\- Exception is already caught by Throwable above\\.$#"
			count: 2
			path: src/Utils.php

