<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
  <testsuites>
    <testsuite>
      <directory>tests/AllVersions</directory>
      <directory phpVersion="5.5.0" phpVersionOperator=">=">tests/5.5</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix="Interface.php">src/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
